<!DOCTYPE html>
<html ng-app="angularJsStub">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <h1 class="text-center">App to watch youtube videos in a restricted network <small>Necessity is the mother of invention</small></h1>
        </header>
        <section class="container" style="align:center">
            <div class="row text-center">
                <div class="col-sm-6 col-md-4 col-md-offset-4">
               
		<video controls>
			<source src={{ url_for('static', filename=session['filename']) }}>
		Your Browser does not support video tag.
		</video>     
                
                </div>
            </div>
        </section>


    
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>
</html> 
